@import '../../../styles/fonts';
@import '../../../styles/variables';

.roleTable-container {
  position: relative;
  padding: 5px;
  font-family: $normalFont;
  overflow: auto;
  height: 93vh;
}
table {
  thead {
    color: black;
    font-family: $subHeaderFont;
    background-color: $phantomLight;
  }
  tbody {
    font-family: $normalFont;
    font-weight: bold;
    text-transform: capitalize;
  }
}

.addBtn {
  width: 100%;
  text-align: right;
  font-weight: bold;
  button {
    @include phantomButton();
    margin-right: 20px;
    border-radius: 50%;
    font-size: 20px;
  }
}

.editIcon-btn {
  @include phantomButton();
  width: fit-content;
  margin-right: 20px;
}
.deleteIcon-btn {
  @include phantomButton();
  width: fit-content;
  background-color: #fb5b5b;
  &:hover {
    background-color: #e76b4a;
  }
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.255);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 5;
  display: none;
  .modal {
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    h2 {
      font-weight: bold;
      font-size: 1.3rem;
      font-family: $subHeaderFont;
      text-transform: capitalize;
    }
    input {
      display: block;
      border: 1px solid grey;
      font-size: 1rem;
      padding: 5px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    button {
      display: inline;
      @include phantomButton();
      font-size: 60%;
    }
    .delete-btn:nth-child(2) {
      background-color: #fb5b5b;
      &:hover {
        background-color: #e76b4a;
      }
    }
    .delete-btn {
      @include phantomButton();
      margin-right: 10px;
      width: 80px;
      font-size: 1rem;
    }
    .edit-btn {
      @include phantomButton();
    }
  }
}

@media only screen and (max-width: 644px) {
  .roleTable-container {
    .topNav {
      flex-direction: column;
      h1 {
        margin: 15px 0;
      }
    }
    .no {
      display: none;
    }

    .deleteIcon-btn {
      margin-top: 12px;
    }
  }
}
.topNav {
  display: flex;
  justify-content: space-between;
}
.searchbar {
  margin-right: 10px;
  @include phantomButton();
}
.addbtn {
  display: flex;
  align-items: center;
}
h1 {
  font-size: 520px;
}
