@import './_variables.scss';
@import './fonts.scss';
body{
background-color: white;
}
.operatorPage{
 width: 100%;
}
.rightside h2{
  margin-left: 15px;
  font-family: $headerFont;
}


  .Driver-container{
    border: 1px solid #DADADA;
    width: 35%;
    margin: auto;
    margin-top: 8%;
    background-color: #ffff;
    height: 36rem;
  }
  
  .formContainer h2{
    text-align: center;
    font-family: $headerFont;
  }
  .form ul {
    list-style: none;
    font-family: $headerFont;
  }
  .form input {
    width: 90%;
    height:10px;
    margin: -5px;
  }
  .deny{
    width: 20%;
    height: 30px;
    background-color:#8b0000 ;
    color: #fff;
    border:1px solid #8b0000;
    border-radius: 5px;
    position: relative;
    right: 20px;
  }
  .confirm{
    width: 20%;
    height: 30px;
    background-color:#2d6a4f ;
    color: #fff;
    border:1px solid #2d6a4f;
    border-radius: 5px;
    
  }
  button{
    margin:20px;
  }
  #times{
    font-size: 24px;
    background-color: #8b0000;
    color: #fff;
    border-radius: 50%;
    float: right;
    margin-right: 20px;
  }
  .midsection{
      display: flex;
      justify-content: space-between;
      position: relative;
      bottom: 30px;
  }
  .modal{
    width: 100%;
  border: none;
  outline:none;
  position:relative;
  bottom: 90px;
  left:40px;
 
  }
  
  .foot{
    position: relative;
    top:5rem;
    left: 10px;
    color:#A4A6B3;
  }
  .mid{
    position: relative;
    top:10px;
    left: 10px;
    color:#9FA2B4;
  }
  .top{
    color:#F9F7F7;
    position:relative;
    left: 20px;
  }
  .newop button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-family: $headerFont;
    background-color: #B7E4C7;
  }
  .search{
    position: relative;
    left: 15rem;
    height:1rem;
    top:.4rem;
    width: 20rem;
    border-radius: 2rem;
    border:none;
  }
  .newop{
    display: flex;
  }
  .lang{
    position: relative;
    left:35rem;
  }
  .buttons{
    display:flex;
    
  }
  .table-container{
    width: 100%;
  }
  
	table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: auto;
    padding: 0;
    width: 80%;
    table-layout: auto;
  }
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }

  table td {
    padding: .1em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: .625em;
    text-align: center;
    background-color: #B7E4C7;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
      margin:auto;
    }
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin: auto;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .6em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }

